body{
    background-color: rgb(32, 27, 27);
}

.btn{
    background-color: rgb(105, 3, 3);
}

.select-wrapper input.select-dropdown{
    color: rgba(255, 255, 255, 0.938);
}

button.col.s12.m4.offset-m4.btn-large{
    background-color: rgb(105, 3, 3);
}

h4{
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}

.collapsible-body{
    color: white;
}

strong {
    color: white;
}

.alert h5{
    color: white;
    line-height: 2;
}



.collapsible-header {
  background-color: rgb(105, 3, 3);
  border-bottom: 1px solid black;
}

.collapsible-body{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(105, 3, 3);
   
}

img{
    float: right;
    padding: 60px 20px;
}

footer {
  
  bottom: 0;
  padding: 1rem;
  width: 100%;
  background-color: rgb(105, 3, 3);
  min-height: 5vh;

 
}
