
h4{
    margin-top: 50px;
    margin-bottom: 50px;
    color: #004d40 ;

}

.alert h5{
    color: rgb(0, 88, 91);
    line-height: 2;
}

.collapsible-header {
  background-color: #a9c7dd ;
  border-bottom: 1px solid #4a148c;
}

.collapsible-body{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(132, 160, 161);
}

