  
{% extends "base.html" %}
{% block content %}

  
   <div class="row">
     <div style="text-align:center;">
    <p>
 Tango is style of music widely know accross the world, its rythm, its style, but one of the most 
 interesting things it has is the language or "Slang" used in its lyrics. The purpose of this website 
 is to allow english speakers to get a an idea of what some words that they might of heard in a song and dont 
 appear on traditional spanish dictionary mean. </p>
</div>

  <div class="center">
    <img src="static/images/about.png" alt="static/images/back1">
  </div>
</div>
    
{% endblock %}

