  
{% extends "base.html" %}
{% block content %}

    <h4 class="center-align"> Login </h4>

  <div class="row">
      <form class="col s12" method="POST" action="{{ url_for('login') }}">
          <div class="row">
               <!-- username -->
              <div class="input-field col s12 m4 offset-m4">
                  <input id="username" name="username" type="text" pattern="^[a-zA-Z0-9]{5,15}$"  class="validate" minlength="5" required>
                  <label for="username">Username</label>
              </div>
          </div>
          <div class="row">
               <!-- Password -->
              <div class="input-field col s12 m4 offset-m4">
                  <input id="password" name="password" type="password" class="validate" minlength="5" required>
                  <label for="password">Password</label>
              </div>
          </div>
                          <!-- Login -->
                <div class="row" style="color: rgb(105, 3, 3);">
                    <button type="submit" class="col s12 m4 offset-m4 btn-large" >
                        Login
                    </button>
                </div>

      </form>

  </div>

      <div class="row">
        <div class="col s12">
            <p class="center-align">
                New Here?
                <a href="{{ url_for('register') }}">Register Account</a>
            </p>
        </div>
    </div>



{% endblock %}