  
{% extends "base.html" %}
{% block content %}

    <h4 class="center-align"> Registration Form </h4>

  <div class="row">
      <form class="col s12" method="POST" action="{{ url_for('register') }}">
          <div class="row">
               <!-- username -->
              <div class="input-field col s12 m4 offset-m4">
                  <input id="username" name="username" type="text" pattern="^[a-zA-Z0-9]{5,15}$"  class="validate" minlength="5" required>
                  <label for="username">Username</label>
              </div>
          </div>
          <div class="row">
               <!-- Password -->
              <div class="input-field col s12 m4 offset-m4">
                  <input id="password" name="password" type="password" class="validate" minlength="5" required>
                  <label for="password">Password</label>
              </div>
          </div>

                          <!-- register -->
                <div class="row">
                    <button type="submit" class="col s12 m4 offset-m4 btn-large">
                        Register
                    </button>
                </div>

      </form>

            <div class="row">
        <div class="col s12">
            <p class="center-align">
                Already registered?
                <a href="{{ url_for('login') }}">Log in</a>
            </p>
        </div>
    </div>



{% endblock %}