{% extends "base.html" %}
{% block content %}

<h4 class="center-align">Dictionary</h4>
<div class="container">
    <div class="row">
        <div class="col offset-s2 s8 offset-s2">
                <form action="{{ url_for('search') }}" method="post" class="col s12">
                    <div class="row valign-wrapper center-align">
                        <div class="input-field col s12 m8">
                            <input type="text" name="query" id="query" minlength="3" class="validate" required>
                            <label for="query">Search</label>
                        </div>
                        <div class="col s12 m4">
                            <a href="{{ url_for('words') }}" class="btn">Reset</a>
                            <button type="submit" class="btn">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
        </div>
    </div>
</div>
{% if words|length > 0 %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <ul class="collapsible popout">
<img src="static/images/image1.jpg" width="100" style="width:170px;height:170px;">
                {% for word in words %}
                <li>
                    <div class="collapsible-header">
                        <strong>{{ word.Word }}</strong>
                    </div>
                    <div class="collapsible-body">
                        <p><span class="font-weight-bold"><strong>Type of word: </strong>
                            </span>{{ word.category_name }}</p>
                    </div>
                    <div class="collapsible-body">
                        <p><span class="font-weight-bold"><strong>Meaning: </strong>
                            </span>{{ word.Meaning }}</p>
                    </div>
                    <div class="collapsible-body">
                        <p><span class="font-weight-bold"><strong>Used in this Song: </strong>
                            </span>{{ word.Link }}</p>
                    </div>
                    <div class="collapsible-body">
                        <p><span class="font-weight-bold"><strong>Submitted by: </strong>
                            </span>{{ word.created_by }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}

            <h4 class="center-align">No Results Try again!</h4>

            {% endif %}
        </div>
    </div>
</div>


{% endblock %}