{% extends "base.html" %}
{% block content %}

<h4 class="center-align">Dictionary</h4>
<div class="container">
    <div class="row">
        <div class="col s12">   
<ul class="collapsible popout">
    
        {% for word in words %}
        <li>
        <div class="collapsible-header">
            <strong>{{ word.Word }}</strong>
        </div>
        <div class="collapsible-body">
              <p><span class="font-weight-bold"><strong>Type of word:  </strong>  
                </span>{{ word.category_name }}</p>
        </div>
        <div class="collapsible-body">
                <p><span class="font-weight-bold"><strong>Meaning:  </strong>
                </span>{{ word.Meaning }}</p>
        </div>
        <div class="collapsible-body">
                <p><span class="font-weight-bold"><strong>Used in this Song:  </strong> 
                </span>{{ word.Link }}</p>
        </div>
        <div class="collapsible-body">
                 <p><span class="font-weight-bold"><strong>Submitted by:  </strong>
                </span>{{ word.created_by }}</p>
        </div>
    </li>
        {% endfor %}
</ul>
</div>     
</div>
</div>

{% endblock %}
